<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HDFC-intratrading.db/src/main/java/HDFC-trading/db/setup/DbSetup.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="HDFC-trading.db.setup.DbSetup"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HDFC-intratrading.db"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dscout.jandex.rebuild=true&#13;&#10;-Dconfig.properties=${project_loc:HDFC-intratrading.app.dev}/src/main/resources/dev.db.config.properties&#13;&#10;-Dpersistence.sql.jdbc.mapping.name=jdbc:derby:${project_loc:HDFC-intratrading.app.dev}/db;create=true"/>
</launchConfiguration>
